/* -----------------------------------------------------------------
[Table of contents]

1. Fields
------------------------------------------------------------------ */

/*
 * 1. Fields
 */

.meta-item-m {
	width: 25%;
}

.meta-item-l {
	width: 50%;
}

.meta-item-l.alt {
	margin-left: 20px;
}